@keyframes animateSvg {
    to{
        transform: translate(-50% , -10%);
    }
}


@keyframes upanddown{
    to{
        transform: translate(-5% );
    }
}

@keyframes upupdowndown{
    to{
        transform: translateY(-4% );
    }
}